body {
  text-align: center;
  font-family: "Satisfy", cursive;
}
h1{
  font-size: 4.5em;
  background: -webkit-linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div{
  font-size: 1.1em;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 10%;
}


.profile {
  width: 14vw;
  height: 14vw;
}
.drum {
  width: 14vw;
  height: 14vw;
}
.dice {
  width: 14vw;
  height: 14vw;
}
.location {
  width: 14vw;
  height: 14vw;
}
p{
  background: -webkit-linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  bottom: 0px;
  font-size: 1.3em;
}


@media (max-width: 500px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }
  
  h1{
    margin-top: 5px;
    font-size: 14vw;
    text-align: center;
    
  }
  .profile {
    width: 35vw;
    height: auto;
  }
  .drum {
    width: 35vw;
    height: auto;
  }
  .dice {
    width: 35vw;
    height: auto;
  }
  .location {
    width: 35vw;
    height: auto;
  }
  
} 

/* @media (max-width: 500px){
  h1{
    font-size: 3em;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .first, .second, .third, .fourth{
    align-items: center;
    text-align: center;
  }
  div .profile {
    width: 35%;
    height: auto;
    margin-right: 5%;
  }
  div #one{
    margin-right: 5%;
  }
  div .drum {
    width: 35%;
    height: auto;
    margin-right: 4%;
  }
  div #two{
    
    margin-right: 4%;
  }
  div .dice {
    width: 45%;
    height: auto;
    margin-left: 15%;
  }
  div #three{
    margin-left: -5%;
  }
  div .location {
    width: 30%;
    height: auto;
    margin-right: 5%;
  }
  div #four{
    margin-right: 2%;
  }
*/
  /* @media (max-width: 1124px) {
    h1{
      font-size: 5em;
    }
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .first, .second, .third, .fourth{
      align-items: center;
      text-align: center;
    }
    .profile {
      width: 35%;
      height: auto;
      margin-right: 5%;
    }
    div #one{
      margin-right: 5%;
    }
    .drum {
      width: 25%;
      height: auto;
      margin-right: 2%;
    }
    #two{
      margin-right: 2%;
    }
    .dice {
      width: 80%;
      height: auto;
      margin-left: 45%;
    }
    /* div #three{
      margin-right: -25%;
    } */
    /* .location {
      width: 35%;
      height: auto;
      margin-right: 1%;
    }
    #four{
      margin-left: 1%;
    }
  } */