body {
  text-align: center;
  font-family: "Satisfy", cursive;
}
h1{
  font-size: 4.5em;
  background: -webkit-linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div{
  font-size: 1.1em;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 10%;
}


.profile {
  width: 14vw;
  height: 14vw;
}
.drum {
  width: 14vw;
  height: 14vw;
}
.dice {
  width: 14vw;
  height: 14vw;
}
.location {
  width: 14vw;
  height: 14vw;
}
p{
  bottom: 0px;
  font-size: 1.3em;
}


@media (max-width: 500px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }
  
  h1{
    margin-top: 5px;
    font-size: 14vw;
    text-align: center;
    
  }
  .profile {
    width: 35vw;
    height: auto;
  }
  .drum {
    width: 35vw;
    height: auto;
  }
  .dice {
    width: 35vw;
    height: auto;
  }
  .location {
    width: 35vw;
    height: auto;
  }
  
} 